.sectionBtn{
    border: none;
    padding: 0.5rem 1.8rem;
    border-radius: 22px;
    font-weight: 500;
    background-color: #ce1212;
    color: white;
}

.sectionBtn a{
    text-decoration: none;
    color: white;
}

.home{
    padding: 8rem 6rem 3rem 6rem;
    background-color: #eee;
}


.leftSection{
    width: 48%;
}

.rightSection{
    width: 40%;
}

.dishImg{
    width: 100%;
}

.chefImg{
    width: 32%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.chefImg:hover{
    transition: all 0.5s;
    transform: translateY(-11px);
}


.playBtn{
    cursor: pointer;
}

.colorGrey{
    color: rgba(33, 37, 41, 0.7);
}